<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{confirmStyle.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">

    <h1>Kvitto: </h1>

    <ul>
        <li th:each="address : ${allAddresses}" th:text="${address}"></li>
        <li th:each="user : ${allUsers}" th:text="${user.name} + ' ' + ${user.email}"></li>

    </ul>




    <h1>Välj leveransadress och betalalternativ</h1>

    <form class="adressPayment" method="post">
        <div class="fieldsetBorder1">
        <fieldset>

            <div class="address1">
                <input class="" type="radio" name="addressRadio" value="1">
                <span class="">Leveransadress 1</span>
            </div>

            <div class="address2">
                <input class="" type="radio" name="addressRadio" value="2">
                <span class="">Leveransadress 2</span>
            </div>

        </fieldset>
        </div>



        <div class="fieldsetBorder2">
            <fieldset>

                <div class="payment1">
                    <input class="" type="radio" name="paymentRadio" value="1">
                    <span class="">Payment option 1</span>
                </div>

                <div class="payment2">
                    <input class="" type="radio" name="paymentRadio" value="2">
                    <span class="">Payment option 2</span>
                </div>

            </fieldset>
        </div>
        <input type="submit" class="submitBtn">
    </form>
</div>
</body>
</html>