<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{confirmStyle.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <form class="adress">
        <div class="fieldsetBorder1">
        <fieldset>

            <div class="address1">
                <input class="" type="radio" name="radio">
                <span class="">adress 1</span>
            </div>

            <div class="address2">
                <input class="" type="radio" name="radio">
                <span class="">adress 2</span>
            </div>

        </fieldset>
        </div>
    </form>
    <form class="payment">
        <div class="fieldsetBorder2">
            <fieldset>

                <div class="payment1">
                    <input class="" type="radio" name="radio">
                    <span class="">Payment option 1</span>
                </div>

                <div class="payment2">
                    <input class="" type="radio" name="radio">
                    <span class="">Payment option 2</span>
                </div>

            </fieldset>
        </div>
    </form>
</div>
</body>
</html>